<h3>Showing User Details</h3>

<nb-layout>
  <nb-layout-column>

    <img src="assets/pic.jpg" alt="">

    <button nbButton>Upload Profile Picture</button>
    <button nbButton>Edit Profile</button>
    <button nbButton>De-Activate User</button>

  </nb-layout-column>
  <nb-layout-column>
    <b>FullName</b>
    <p>Zemichael Tesfaye</p>
    <b>Creating A</b>
    <p>a single instance </p>

  </nb-layout-column>
</nb-layout>


<nb-layout>
  <nb-tabset>
    <nb-tab></nb-tab>
    <nb-tab></nb-tab>
    <nb-tab></nb-tab>
  </nb-tabset>
</nb-layout>
