<nb-card>
  <nb-card-header>
    <h3>Showing User Details</h3>
  </nb-card-header>
  <nb-card-body>

    <table>
      <tr>
        <td width="250">
          <og-circle-image src="assets/pic.jpg"></og-circle-image>
        </td>
        <td>
          <og-tablular-list [map]="mapobj"></og-tablular-list>
        </td>
      </tr>
      <tr>
        <td>

          <button nbButton fullWidth>Upload Profile Picture</button>
          <button nbButton fullWidth>Edit Profile</button>
          <button nbButton fullWidth>De-Activate User</button>

        </td>
        <td>

        </td>
      </tr>
    </table>
    <!--<img src="assets/pic.jpg" alt="">-->

    <nb-tabset>
      <nb-tab tabTitle="Privileges">

      </nb-tab>
      <nb-tab tabTitle="Attachments">

      </nb-tab>
      <nb-tab tabTitle="Job Position">

      </nb-tab>
      <nb-tab tabTitle="Similar">

      </nb-tab>
    </nb-tabset>

  </nb-card-body>
</nb-card>
