<nb-layout>

  <nb-layout-header fixed>

    <img src="assets/omega-erp-logo.svg" class="logo">

    <nb-actions size="medium">
      <nb-action icon="fa fa-search"></nb-action>
      <nb-action icon="fa fa-user"></nb-action>
      <nb-action icon="nb-person"></nb-action>
      <nb-action icon="nb-home"></nb-action>
      <nb-action icon="nb-gear" disabled></nb-action>
    </nb-actions>


  </nb-layout-header>

  <nb-sidebar>
    <nb-list>

    </nb-list>
  </nb-sidebar>


  <nb-layout-column>
    <nb-card>
      <nb-card-body>

        <router-outlet></router-outlet>
      </nb-card-body>
    </nb-card>
  </nb-layout-column>

  <nb-layout-footer fixed>
    <!-- Insert footer here -->


  </nb-layout-footer>

</nb-layout>
