<span>
  <!--
  <nb-actions size="medium">
    <nb-action (click)="toggleSideBar()" icon="nb-menu"></nb-action>
  </nb-actions>
  -->
  <img src="assets/omega-erp-logo.svg" class="logo" routerLink="/">
</span>
<span>
  <nb-actions size="midium">
    <nb-action icon="eva eva-home-outline"></nb-action>
    <nb-action icon="eva eva-search-outline"></nb-action>
    <nb-action icon="eva eva-bell-outline"></nb-action>
  </nb-actions>

  <nb-user name="Zemichael Tesfaye" title="lead angular programmer"></nb-user>
</span>
