@import '~@nebular/theme/styles/theming';
@import '~@nebular/theme/styles/themes/default';

$nb-themes: nb-register-theme((
  // add your variables here like:
  // color-bg: #4ca6ff,
  color-fg-highlight: #9696c8,
  color-success: #9696c8,
  menu-item-separator: rgba(0,0,0,0),
), default, default);
